/*****General*****/
h2 {
  font-size: 1em;
  font-weight: bold;
}

body {
  background-color: #ffe0b2;
}

.container {
  background-color: #fff;
}

.jumbotron {
  text-align: center;
  background-color: #c43e00;
  color: #fff;
}

ul {
  list-style-type: none;
}

.btn-lg {
  padding: 20px 30px;
  font-size: 22px;
  line-height: 2;
  border-radius: 10px;
}

.centered-content {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

.well {
  background-color: #ffcc80;
}

/*****pizza in progress*****/
.topping-label {
  font-weight: normal;
}

#submit-button {
  display:none;
}

#add {
  margin-bottom: 20px;
}

.pizza-num {
    font-size: 1.25em;
}

/*****total*****/

.total {
  display:none;
}

#total-header {
  font-size: 2.5em;
}

#total-text {
  font-size: 2em;
  font-weight: bold;
  text-align: center;

}

.retry {
  display:none;
  text-align: center;
  font-weight: bold;
  color: grey;
  font-style: italic;
  font-size: 1.25em;
}

.retry:hover {
  cursor: pointer;
}
