h2 {
  font-size: 1em;
  font-weight: bold;
}

body {
  background-color: #efefef;
}

.container {
  background-color: #fff;
}

.jumbotron {
  text-align: center;
  background-color: #bb4d00;
  color: #fff;
}

/*
.container {
  background-image: url("../pizza.png");
  background-repeat:repeat;
}*/

.topping-label {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

.total {
  display:none;
}

/*
.oneTopList,
.twoTopList {
  display:none;
}
*/

#submit-button {
  display:none;
}

#add {
  margin-bottom: 20px;
}

.btn-lg {
  padding: 20px 30px;
  font-size: 22px;
  line-height: 2;
  border-radius: 10px;
}

.centered-content {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}



#total-header {
  font-size: 2.5em;
}

.pizza-num {
    font-size: 1.25em;
}

.well {
  background-color: #ffcc80;
}

#total-text {
  font-size: 2em;
  font-weight: bold;
}
